.nav-custom{
    background-color: rgba(55, 119, 255, 0.8);
    position: fixed;
    z-index: 99;
    width: 100%;
    backdrop-filter: blur(8px);
    height: 80px;
    
}
.space-custom{

    padding-top: 100px ;

}

.n-custom{
    color: white;
    
}
.n-custom:hover{
    scale: 1.05;
    border-bottom: 2px solid white;
}
.title-custom{
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    background: linear-gradient(
        to right, rgba(55, 119, 255, 0.8) , rgb(23, 10, 87));
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
}
.font-scritte{
    font-family: 'PT Sans', sans-serif; 
}
.subtitle-custom{

    font-size: 30px;
    

}

footer{
    background-color: rgba(55, 119, 255, 0.8);
    color: black;
    margin-top: 50vh;
}
a{
    text-decoration: none;
}



/* INIZIO Card */

.card-custom {
    min-width: 190px;
    min-height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 28.8px;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height:50%;
    place-content: top;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text card*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover card*/
   .card-custom:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card-custom:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   /* FINE Card */

   /* INIZIO CAROUSEL */

   .carousel-custom{
    width: 50%;
    height: 400px;
   }

   .img-custom{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}

    /* FINE CAROUSEL */

